* {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
    }
    
    body {
        width: 100vw;
        height: 100vh;
        background: #081b29;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    
    ::-webkit-input-placeholder {
        color: #eee;
    }
    
    .wrapper {
        position: relative;
        width: 1100px;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 3px solid #00ffff;
        box-shadow: 0 0 50px 0 #00a6bc;
        padding: 20px;
        background: #082e49;
        z-index: 1; 
    }
    
    .banner {
        position: absolute;
        top: 0;
        right: 0;
        width: 450px;
        height: 100%;
        background: linear-gradient(to right, #082e49, #c800ff);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
        padding-right: 70px;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        z-index: 1; 
    }
    
    .wel_text {
        font-size: 40px;
        margin-top: -50px;
        line-height: 50px;
    }
    
    .para {
        margin-top: 10px;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1px;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2; 
    }
    
    .title {
        font-size: 35px;
        margin-bottom: 20px;
    }
    
    .inp {
        padding-bottom: 10px;
        border-bottom: 2px solid #eee;
        margin-top: 20px;
        z-index: 3; 
    }
    
    .input {
        border: none;
        outline: none;
        background: none;
        width: 260px;
        padding-right: 10px;
        font-size: 17px;
        color: #0ef;
        z-index: 3; 
    }
    
    .submit {
        border: none;
        outline: none;
        width: 288px;
        margin-top: 25px;
        padding: 10px 0;
        font-size: 20px;
        border-radius: 40px;
        letter-spacing: 1px;
        cursor: pointer;
        background: linear-gradient(45deg, #0ef, #c800ff);
        z-index: 3; 
    }
    
    select {
        background: #082e49;
        color: #0ef; 
        border: 2px solid #eee;
        padding: 5px;
        border-radius: 5px;
    }
    
    
    option {
        background: #082e49;
        color: #fff; 
    }

